<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WM2010Entities" connectionString="metadata=res://*/WM2010Model.csdl|res://*/WM2010Model.ssdl|res://*/WM2010Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SX-PC\SQLEXPRESS;Initial Catalog=WM2010;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>